@page
@model Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">داشبورد گزارشات</h4>
    </div>
</div>
